<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>bus Details</title>

  <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="css/animate.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet">   
</head>
<body>



    <div class="container d-flex justify-center">
        <h2>Bus Details</h2>
        <form action="/apply-bus" method="post">
         <input type="hidden" name="bus_no" value='<%= bus.bus_no %>'>
                      
             <div class="input-group mb-3">
                 <span class="input-group-text">Name</span>
                 <input type="text" class="form-control" placeholder="Name" name="name" >
             </div>
             <div class="input-group mb-3">
                 <span class="input-group-text">Details</span>
                 <input type="text" class="form-control" placeholder="Details" name="Details">
             </div>
 
             
             <input type="submit" class="btn btn-info" value="Apply" name="apply">
        </form>
        <br>
        <br>
        <a href="/logout">Logout</a> <br>
        <a href="/">Back To Home</a>

       </div><!-- /.container-fluid -->


	<script src="js/bootstrap.min.js"></script>

</body>
</html>
